# Server
PORT=3000

# Container
DB_NAME=base-name
CONTAINER_NAME=container-template
DB_HOST=localhost
DB_PASSWORD=root
DB_USERNAME=root
DB_PORT=5432
LOGGING=true

JWT_SECRET=secret-key
JWT_EXPIRESIN=1h
SEED_EMAIL=email@gmail.com
SEED_PASSWORD=12345678
