# Server
PORT=3000
ALLOWED_ORIGINS=http://localhost:5173/

# Container
DB_NAME=odonto
CONTAINER_NAME=odonto-smart
DB_HOST=localhost
DB_PASSWORD=root
DB_USERNAME=root
DB_PORT=5432
LOGGING=true
DB_TYPE=postgres

# Config seeders
SEED_PASSWORD=Admin
SEED_EMAIL=admin.admin@gmail.com

# Config JWT
JWT_SECRET=secret-key
JWT_EXPIRESIN=2h
JWT_EXPIRENSIN_REFRESH=7d
